.about-section {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: 30% center;
  background-repeat: no-repeat;
  position: relative;
  padding: 4rem 2rem;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* overlay */
  z-index: 0;
}

.about-container,
.about-marker-wrap {
  position: relative;
  z-index: 1;
  margin-left: 1rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.about-image {
  flex: 1 1 50%;
  display: flex;
}

.about-image img {
  width: 75%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

.about-marker-wrap {
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 10px;
  max-width: 960px;
  margin: auto;
}

.about-marker {
  width: 6px;
  background-color: #002776;
  border-radius: 4px;
  flex-shrink: 0;
  height: 100%;
  min-height: 200px;
}

.about-text {
  flex: 1 1 50%;
  max-width: 600px;
  color: #111;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fe6218;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #111;
}

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 1rem;
    background-position: center center;
  }

  .about-container {
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .about-marker-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .about-text {
    max-width: 100%;
    color: #fff;
  }

  .about-text h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #fe6218;
  }

  .about-text p {
    font-size: 1rem;
    text-align: justify;
    color: white;
  }

  .about-marker {
    min-height: 10px;
    width: 100%;
    height: 6px;
    margin-bottom: 1rem;
    background-color: #fe6218;
  }

  .about-image {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .about-image img {
    width: 90%;
  }
}

